/* adds style the html body and map div objects */
html, body {width:100%; height:100%; padding: 0; margin: 0;}
#fruitMap {
	width: 100%; 
	height:100%; 
	background: navy;
}

img.on-map {
	display: inline-block;
	position: fixed;
	z-index: 3;
}

#add-new {
	top: 15px;
	right: 15px;
}
/* CSS style formatting for the labels bound to each marker*/
.ourLabel {
	position: absolute;
	display: inline-block;
	font-size: 13px;
	background-color: rgba(255,255,255,0.85);
	padding-left: 2px;
	padding-right: 2px;
	box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.3);
	border: 0px solid;
	border-radius: 3px;
	text-indent: -4px;
}

/* CSS formatting for the popup box that appears when markers are clicked */
.leaflet-popup-content-wrapper {
	background-color: #F6F6F6;
	text-align: left;
	width: 203px;
}

/* CSS formatting for the tip of the popup box */
.leaflet-popup-tip {
	background: #F6F6F6;
	box-shadow: 0 0 0 rgba(0,0,0,0.4);
}


#overlay {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(134,7,193, 0.75);
	z-index: 40000;
	text-align: center;
	border: 6px solid #8607c1;
}

#spacer {
	height: 30%;
}

#overlay_title {
	font-family: "Allan";
	font-size: 180px;
	color: navy;
	position: relative;
	background-color: white;
}

#overlay_msg {
	font-family: "Arbutus";
	font-size: 72px;
	margin-top: 1em;
	color: white;
	position: relative;
	width: 100%;
}
